# ignore the root node_modules, of course
/node_modules
# also ignore the symlinked node_modules for any app
/app/*/node_modules
# ignore the build files per project, these would be
# rules custom to your exact monorepo
/deploy/deploy-with-rollup/build.js
/deploy/deploy-with-webpack/build.js

# this is just for my personal workspace, it's unrelated
/.idea
